.header {
	 height: 100px;
	 width: 100%;
         background-color: #fffff;
	 text-align: left;
	 border-radius: 5px;
}
img {
	 height: 100px;
	 float: right;
 
 }
 #title {
	 color: #020202;
	 font-family: Lobster;
	 font-size: 40px;
	 margin-left: 15px;
					}
.cheatsheet {
	  width: 100%;
	  text-align: center;	
	}
td,th,caption {
	border: 1px solid black;
        border-collapse: collapse;
}
