
body {
	background-color: #a69eb0;
} 
.header {
	 height: 100px;
	 width: 100%;
         background-color: #ffffff;
         position: fixed;
	 top: 0px;
	 text-align: left;
	 border-radius: 5px;
}
img {
	 height: 100px;
	 float: right;
 
 }
 #title {
	 color: #020202;
	 font-family: Lobster;
	 font-size: 40px;
	 margin-left: 10px;
	 margin-bottom: 5px;
					}
.cheatsheet {
	  width: 100%;
          margin-top: 150px;
	  margin-bottom: 200px;
	  text-align: center;	
	}
table {
	border: 1px solid black;
        border-collapse: collapse;
}
