header {
	 width: 100%;
	 text-align: left;
}
img {
	 height: 150px;
	 float: right;
}
 #title {
	 color: #020202;
	 font-family:'Ubuntu Condensed';
	 font-size: 60px;
	 margin-left: 15px;
					}
.cheatsheet {
	margin-top: 150px;
	  width: 100%;
	  text-align: center;
	  display : block;
	}
.command {
	font-family: 'Ubuntu Mono';
}
td,th {
	border: 1px solid black;
  border-collapse: separate;
 border-spacing: 0px;

}
table {
	margin: auto;
		text-align: left;
		margin-top: 20px;

}
caption {
	margin-top: 16px;
	margin-bottom:12px;
	font-family:'Ubuntu Condensed';
	font-weight: bold;
	font-size: 20px;
}
a {
	text-decoration: none;
}
a:hover {
   text-decoration: underline;
 }
       
footer {
	text-align: right;
}
@media screen and (max-width: 640px) {
	    img {
		            display: none;
			            }
#title {
font-size: 30px;
}
/*.cheatsheet {
	margin-top: 6.522em;
}*/



